FIREBASE_API_KEY_WEB=your_firebase_api_key_web
FIREBASE_API_KEY_ANDROID=your_firebase_api_key_android
FIREBASE_API_KEY_IOS=your_firebase_api_key_ios
FIREBASE_API_KEY_MACOS=your_firebase_api_key_macos
FIREBASE_API_KEY_WINDOWS=your_firebase_api_key_windows

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_UPLOAD_PRESET=your_cloudinary_upload_preset
